---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="../images/logo.png" />
    <meta name="theme-color" content="#67bfa9" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" /><link
      rel="stylesheet"
      href="/css/lineicons.css"
    /><link rel="stylesheet" href="/css/glightbox.min.css" /><link
      rel="stylesheet"
      href="/css/style.css"
    />
    <link rel="stylesheet" href="/css/carousel.css" />
    <link rel="stylesheet" href="/css/lightbox.css" />
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="edb85d17-0d62-4242-88c5-5e49d025acab"
      data-blockingmode="auto"
      type="text/javascript"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/animejs@4.0.2/lib/anime.umd.min.js"
      is:inline></script>

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=AW-17611593973"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-17611593973");
    </script>

    <title>
      {title ?? "M&r2 - Reformas y pintura"}
    </title>
  </head>

  <body id="root">
    <slot /><!-- your content is injected here -->

    <script src="/js/bootstrap.bundle.min.js" is:inline></script>
    <script src="/js/glightbox.min.js" is:inline></script>
  </body>
</html>
